{% extends 'base.html' %}

{% block content %}


<div class="container">
	
  	<h1>Subscribe to my channel</h1>

<br><br>

<form method="POST" action="/form">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name" name="first_name" value="{{ first_name }}">
  </div>
  <br>
    <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name" name="last_name" value="{{ last_name }}">
  </div>
  <br>
    <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="e_mail" value="{{ e_mail }}">
  </div>
  <br>

  {% if error %}
  	<div class="alert alert-warning" role="alert">
   		{{ error }} 
	</div>
{% endif %}

  <br><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>


{% endblock %}